@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-otp {
  display: flex !important;
  width: 100% !important;
  justify-content: center;
}

.custom-otp-input {
  width: 62px;
  height: 97px;
  font-size: 34px;
}

/* Ẩn thanh scroll ngang và dọc */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE và Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
